* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box {
    width: 350px;
    height: 200px;
    background-color: blue;
    margin: 50px 200px;
    box-shadow: 20px 20px 7px black;
    transition: all 5s;
}
.box-2 {
    width: 350px;
    height: 200px;
    background-color: blue;
    margin: 50px 200px;
    box-shadow: 10px -10px 7px black;
    transition: all 5s;
}
.box-2:hover {
    width: 350px;
    height: 200px;
    background-color: green;
    margin: 50px 200px;
    box-shadow: 10px -10px 7px greenyellow;
    transition: all 5s;
}
.box-3 {
    width: 350px;
    height: 200px;
    background-color: blue;
    margin: 50px 200px;
    box-shadow: 10px -10px 7px black;
    transition: all 5s;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  margin:200px;
  font-size: 48px;
  transition: all 5s;
  color: blue;
}

.box-4 {
    
}
